.formItens{
  position: absolute;
  top: 40%;
  left: 37%;

}
.SearchButton{
  width: 20%;
  position: absolute;
  left: 51%;
  top: 150%;
}

.CnpjInput{
  position: relative;
  width: 400%;
  position: absolute;
  left: 0%;
  top: 100%;
}