.formItens{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  align-items: center;
}
.SearchButton{
  width: 30%;
  position: absolute;
  top: 150%;
  right: 50%;
  transform: translate(50%, -50%);
}

.CnpjInput{
  position: relative;
  width: 350%;
  position: absolute;
  top: 120%;
  left: -175%;
  transform: translate(50%, -50%);
}